<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Blogging For Tech</title>
  <script src="https://kit.fontawesome.com/ef1290e982.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
 
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body class="d-flex flex-column h-100" id="top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
    <div class="container">
         <ul class="navbar-nav mb-2 mb-lg-0">
          {{#if logged_in}}
          <li class="pe-3"><button href="/personal" type="button" class="btn btn-success"> My
              Posts</button>
          </li>
          <button class="btn btn-success" href="/" type="button" id="logout-btn">logout</button> 
           <li class="nav-item">
 
          {{else}}


          <li>
            
            <a href='/login' type="button" class="btn btn-primary mx-3">
              Login
            </a>

          </li>
          {{/if}}
        </ul>
    </div>
  </nav>

  <main>
    {{{ body }}}


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}


  <script rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
  </script>
</body>

</html>